# FAQ

- **Q: What OS are you using?**
- A: It's [NixOS](https://nixos.org/) a distribution of Linux

---

- **Q: Ты русский/говоришь по-русски?**
- A: Да. Но на стриме предпочитаю говорить по-английски.

---

- **Q: Is it raining?**
- A: No, it's [noisli](http://noisli.com/)
