# FAQ

- **Q: What OS are you using?**
- A: It's [NixOS](https://nixos.org/) a distribution of Linux

---

- **Q: Ты русский/говоришь по-русски?**
- A: Да. Но на стриме предпочитаю говорить по-английски.

---

- **Q: Is it raining?**
- A: No, it's [noisli](http://noisli.com/)

---

- **Q: What's the music playing at the beginning?**
- A: Here's my [Intro Playlist](https://www.youtube.com/playlist?list=PLguYJK7ydFE6Y_z14C9kGUlrCruxrO30Z) Please follow the artists, they're amazing.
