# Tsoding on the Internets

- [Website](https://tsoding.github.io/)
- [GitHub](https://github.com/tsoding)
- [Twitter](https://twitter.com/tsoding)
- [Twitch](http://www.twitch.tv/tsoding)
- [Youtube](http://www.youtube.com/channel/UCEbYhDd6c6vngsF5PQpFVWg)
- [Patreon](https://www.patreon.com/tsoding)
