# Schedule

Stream days: Wednesday, Sunday. The time is usually 10.00 NOVT. For more info please see the [Public Google Calendar](https://calendar.google.com/calendar/embed?src=knnbf89n7lna1q3is3nacpd054@group.calendar.google.com&ctz=Asia/Krasnoyarsk&pli=1)
