# Support

The best kind of support is to visit the streams and ask interesting questions. But if you're too busy just enjoying the stream, here is our [Patreon page](https://www.patreon.com/tsoding) for you!
